:root{
    --cyan:#00f3ff;
    --dim-cyan:rgba(0,243,255,0.2);
}
body{
    background-color: #050507;
    color: var(--cyan);
    font-family: 'Consolas',monospace;
    margin: 0;
    height: 100vh;
    overflow: hidden;
    position: relative;
}
body::before{
    content:"";
    position: absolute;
    inset: 0;
    background-image: radial-gradient(var(--dim-cyan)1px,transparent0);
    background-size: 30px 30px;
    z-index: -1;
}
#cursor-glow{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background: radial-gradient(
        250px circle at var(--x,0) var(--y,0),
        rgba(0,243,255,0.15)0%,
        transparent 100%
    );
    z-index: 0;
}
.hud-frame{
    position: relative;
    z-index: 10;
    padding: 20px;
    display: flex;
    flex-direction: column;
    height: 100vh;
    box-sizing: border-box;
}
header{
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    border-bottom: 1px solid var(--cyan);
    padding-bottom: 10px;
    letter-spacing: 2px;
}
main{
    flex:1;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.panel{
    width: 200px;
    background: rgba(0,243,255,0.03);
    border: 1px solid var(--dim-cyan);
    padding: 15px;
    clip-path: polygon(0 0, 90% 0, 100% 10%, 100% 100%, 10% 100%, 0 90%);
}
.label{font-size: 10px; color: rgba(255,255,255,0.5);margin-bottom: 10px;}
.stat-row{margin-bottom: 5px; font-size: 14px}
.battery-circle{
    width: 220px;
    height: 220px;
    border-radius: 50%;
    border:4px solid var(--cyan);
    display:flex;
    align-items: center;
    justify-content: center;
    position: relative;
    box-shadow: 0 0 30px var(--dim-cyan);
    animation: pulse 4s infinite;
}
.percent-label{font-size: 48px;font-weight: bold; text-shadow: 0 0 15px var(--cyan);}
.core-subtext{text-align: center; margin-top: 15px;font-size: 12px;}
footer{
    height: 100px;
    border-top: 1px solid var(--dim-cyan);
    background: rgba(0,0,0,0.5);
    padding: 10px;
    font-size: 11px;
}
.log-conatiner{overflow-y: hidden; height: 100%; color: rgba(0, 243, 255, 0.7); }
@keyframes pulse{
    0%, 100% { transform: scale(1); opacity: 1; }
    50% { transform: scale(1.02); opacity: 0.8; }
}